.home-component{
    height: 60vh;
    width: 100vw;
    
}
 
.backattractions {
    
    background-image: url(./images/blueOrangeAbstract.png);
    background-size: cover;
    background-repeat: repeat;
    /*opacity: .6;*/
  }

#header{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 200;
    font-size: 40px;
    
}

.btn-primary{
    margin-left: 300px;
}

.card{
    height:600px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.card-text{
    margin-top: 20px;
    font-weight: 400;
    font-family: serif;
    font-size: 16px;
}

.kI{
    height:200px; 
}

.tql{
    height:200px;
}

.greatAmerican{
    height:200px;
}

.paycor{
    height:217px;
}

.heritage{
    height: 200px;
}

.cincinnatiZoo{
    height: 200px;
}

.uc{
    height: 200px;
}

.xavier{
    height: 200px;
}
.taftTheater{
    height: 200px;
}

.kIHeader{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 200;
    font-size: 32px;
}
.gAHeader{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 200;
    font-size: 32px;
}
.tQLHeader{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 200;
    font-size: 32px;
}
.paycorHeader{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 200;
    font-size: 32px;
}
.hAHeader{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 200;
    font-size: 32px;
}
.cZHeader{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 200;
    font-size: 32px;
}

