
.new-middle {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

/* .day {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #F7C59F;
  width: 10em;
  height: 15em;
  margin: 1rem;
} */
.day:hover {
  background-color: #F7C59F;
  width: 16em;
  height: 22em;
}

.temp-container {
  display: flex;
}

.temp-high {
  padding: 0.3rem;
  color: #EFEFD0;
}
.temp-low {
  padding: 0.3rem;
  color: #ffff;
}
