.middle {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ea5d1bda;;
}

.new-image {
  height: 200px;
  border-radius: 5px;
  border: solid 1px white;
}
