* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* .navbarfont {
  font-family: ;
} */

header {
  height: 100vh;
  width: 100vw;
  background: black;
  /* background-image:; */
  background-size: cover;
}

.navbar {
  position: sticky;
  top: 2vh;
  /* background: rgba(0,0,0,0.5); */
  /* padding: 50px; */
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: white;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

/* .navbar.active {
  background: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0, 78, 194) 100%);
} */

.navbar .nav-links ul li.active a {
  color: blue;
  font-weight: 600;
  text-decoration: none;
}

.mobile-menu {
  margin-left: 0;
}

#navbarSupportedContent{
  z-index: 10;
  
}

.nav-links{
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .nav-links {
    /* top: 0;
    left: 0; */
    position: absolute;
    top: 50px;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -100%; */
  }



  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}
/* 
#nav-container{
  display:flex;
  justify-content: flex-end;
} */